<div class="container bg-light w-50 pt-3 pb-4">
  <%= image_tag("logo.png", size: "80x80", class: "mb-2 mx-auto d-block") %>
  <h1 class="h3 mb-3 text-center font-weight-normal"><%= t "sign_up" %></h1>
  <%= render "form", user: @user %>
</div>
