@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$page_bg: #f2f2f2;
$header_bg: #e44d3a;
$orange_light: #e44d3a;
$muted_color: #6c757d;

*{
  outline: none;
}

body{
  background: $page_bg;
}

.header{
  background: $header_bg;
  img.logo{
    width: 50px;
    height: 50px;
  }
  img.avatar{
    width: 40px;
    height: 40px;
  }
}

.new-post input{
  border-top: 5px solid $orange_light;
}

.post-element .user-info img{
  width: 45px;
  height: 45px;
}

.user-info .fa-ellipsis-v{
  font-size: 20px;
  color: black;
}

.card{
  border-top: 5px solid $orange_light;
}

.reaction{
  a{
    color: black;
    text-decoration: none;
    &.active{
      color: pink;
    }
  }
  .dropdown{
    &:hover>.dropdown-menu{
      display: block;
    }
    .dropdown-toggle:active {
      pointer-events: none;
    }
    .dropdown-menu i{
      cursor: pointer;
      &:hover{
        font-size: 17px;
      }
    }
  }
}

.sub-menu{
  .nav-link{
    color: $muted_color!important;
  }
  .nav-link:hover{
    text-decoration: underline;
  }
}
