<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <%= link_to admin_users_path do %>
          <i class="fa fa-user"></i>
          All user
        <% end %>
      </li>
      <li>
        <%= link_to admin_posts_path do %>
          <i class="fa fa-clipboard"></i>
          All post
        <% end %>
      </li>
    </ul>
  </section>
</aside>
